/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */

html{
    box-sizing: border-box;
  }
  *,
  *::before
  *::after {
    box-sizing: inherit;
  }

  body {
    background-image: url('livingroomfp.png') ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #E1EEDD;
  }

header {
    background-color: transparent;
    color: #fff;
    padding: 10px;
    font-family: "Rubik", sans-serif;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .figure {
    max-width: 300px;
    margin: 0 auto;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .title {
    margin: 0;
    color: #1E5631;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  
  }
  
  nav li {
    margin: 0 10px;
    list-style: none;
  }
  
  nav a {
    color: #1E5631;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .button1 {
    position: absolute;
    top: 87%;
    right: 65%;
    transform: translateY(-50%);
    display: block;
    margin: 10px;
    background-color: rgba(500, 500, 500, 0.66);
    padding: 10px 20px;
    color: #281B0D;
    border: solid transparent 1.75px;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    align-items: center;
    margin-right: 10px;
    transition: 0.3s;
  }

  .button2 {
    position: absolute;
    top: 87%;
    right: 59%;
    transform: translateY(-50%);
    display: block;
    margin: 10px;
    background-color: rgba(500, 500, 500, 0.66);
    padding: 10px 20px;
    color: #281B0D;
    border: solid transparent 1.75px;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    align-items: center;
    margin-right: 10px;
    transition: 0.3s;
  }

  .button3 {
    position: absolute;
    top: 87%;
    right: 53%;
    transform: translateY(-50%);
    display: block;
    margin: 10px;
    background-color: rgba(500, 500, 500, 0.66);
    padding: 10px 20px;
    color: #281B0D;
    border: solid transparent 1.75px;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    align-items: center;
    margin-right: 10px;
    transition: 0.3s;
  }

  .button4 {
    position: absolute;
    top: 87%;
    right: 47%;
    transform: translateY(-50%);
    display: block;
    margin: 10px;
    background-color: rgba(500, 500, 500, 0.66);
    padding: 10px 20px;
    color: #281B0D;
    border: solid transparent 1.75px;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    align-items: center;
    margin-right: 10px;
    transition: 0.3s;
  }

  .button5 {
    position: absolute;
    top: 87%;
    right: 41%;
    transform: translateY(-50%);
    display: block;
    margin: 10px;
    background-color: rgba(500, 500, 500, 0.66);
    padding: 10px 20px;
    color: #281B0D;
    border: solid transparent 1.75px;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    align-items: center;
    margin-right: 10px;
    transition: 0.3s;
  }

  .button6 {
    position: absolute;
    top: 87%;
    right: 35%;
    transform: translateY(-50%);
    display: block;
    margin: 10px;
    background-color: rgba(500, 500, 500, 0.66);
    padding: 10px 20px;
    color: #281B0D;
    border: solid transparent 1.75px;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    align-items: center;
    margin-right: 10px;
    transition: 0.3s;
  }

  .button7 {
    position: absolute;
    top: 87%;
    right: 29%;
    transform: translateY(-50%);
    display: block;
    margin: 10px;
    background-color: rgba(500, 500, 500, 0.66);
    padding: 10px 20px;
    color: #281B0D;
    border: solid transparent 1.75px;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    align-items: center;
    margin-right: 10px;
    transition: 0.3s;
  }

  .button0 {
    position: absolute;
    top: 95%;
    right: 42%;
    transform: translateY(-50%);
    display: block;
    margin: 10px;
    background-color: rgba(500, 500, 500, 0.66);
    padding: 10px 20px;
    color: #281B0D;
    border: solid transparent 1.75px;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    align-items: center;
    margin-right: 10px;
    transition: 0.3s;
}


  .button1:hover {
    background-color: #F0A04B;
  }

  .button2:hover {
    background-color: #183A1D;
  }

  .button3:hover {
    background-color: #F6C453;
  }

  .button4:hover {
    background-color: #F0A04B;
  }

  .button5:hover {
    background-color: #183A1D;
  }

  .button6:hover {
    background-color: #F6C453;
  }

  .button7:hover {
    background-color: #F0A04B;
  }

  .button0:hover {
    background-color: #F0A04B;
}

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  

  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .model-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    
  }
  
  .model-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    
    
  }
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  
  .modal-body {
    font-family: "Rubik", sans-serif;
  }

  .title {
    font-family: "Rubik", sans-serif;
  }

    a {
      text-decoration: none;
      color:  #1E5631;
    }
    
    a:hover {
      color: #228c22;
    }